div.heading {
    width: 900px;
  margin: auto;
  border: 0px solid #eee;
    font-size: 24px;
}

td.text {
    font-size: 18px;
}
button.unfollow {
background-color:"red";
}

button.follow {
background-color:#31708f8c;
}
table.table
{
    max-width: 80%;

}
div.well
{
    max-width: 750px;
    MARGIN-LEFT: 179px;
    margin-bottom: 20px;
     background-color: white;

}
nav.navbar navbar-inverse
{
background-color:#448ee0 important;
}

.body{
    font-size: 20px important;
}

.header {
  overflow: hidden;
  background-color: #8c92b566;
  /*padding: 26px 10px;*/
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #d2d4e2;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}
.profile-avatar
{
    height: 120px;
    width:120px;
    border-radius: 71px;
}
.headding
{
font-size:24px;
font-weight: bold;
}
.email
{
font-size:16px;
font-weight: bold;
}

.text
{
font-size:20px;
font-weight: bold;
}

.list-group-item
{
  border:0px;
}


.logout{
font-color:white;
}
a{
    text-decoration: none !important;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #d2d4e2;
   color: white;
   text-align: center;
}