<html>
{% load static %}
<head>
    <title>Edit Profile</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'css/edit_profile.css' %}" rel="stylesheet">
       <link rel="stylesheet" href="{% static 'css/followinglist.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}">
</head>
<body>

<div class="header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand " href="{% url 'userProfile' %}"><img src="{% static 'images/insta.png' %}" height="40px" ></a>
    </div>
       <ul class="nav navbar-nav navbar-right">
<!--      <li><a href="/userProfile/"><span class="glyphicon glyphicon-user"></span>{{loginuser}}</a></li>-->
      <li ><a href="/" class="logout"><span class="glyphicon glyphicon-off"></span> </a></li>
    </ul>
  </div>
</div>




<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets">
<div class="row">
  <div class="col-xs-12 col-sm-9">
    <form class="form-horizontal" id="editprofileform"  enctype="multipart/form-data">
      {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-body text-center">
           <img src="{{userDetails.image.url}}" alt="Anis M" class="profile-avatar" alt="User avatar">
           <input type="file" name="img" id="img">

          </div>
        </div>

      <div class="panel panel-default">
        <div class="panel-heading">
           <h4 class="panel-title">Personal Details</h4>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="form-group">
             <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" value="{{userDetails.username}}" name="txt_name">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" value="{{userDetails.email}}" name="txt_email">
            </div>
          </div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">Security</h4>
        </div>

        <div class="panel-body">

          <div class="form-group">
            <label class="col-sm-2 control-label">Current password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="txt_pwd">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">New password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="txt_npwd">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary" name="btn_editprofile" id="btn_editprofile">Save</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
</div>

<div class="footer">
  <p>Instagram</p>
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

<!--$("#editprofileform").submit(function(e){-->
<!--alert("ajax call ");-->
<!--e.preventDefault();-->
<!--var formData = new FormData(this);-->
<!--console.log(formData);-->
<!--$.ajax({-->
<!--	url:"/editProfile/",-->
<!--	type:"POST",-->
<!--	datatype:"json",-->
<!--	data:formData,-->
<!--	contentType:false,-->
<!--	processData:false,-->
<!--	data:$("#editprofileform").serialize(),-->
<!--	success:function(data)-->
<!--	{-->
<!--        if(data.val=="success")-->
<!--		{-->
<!--			alert("success");-->
<!--		}-->
<!--		else if(data.val="Invalid Password Field")-->
<!--		{-->
<!--		    alert("Invalid Password Field");-->
<!--		}-->
<!--	},-->
<!--	error:function()-->
<!--	{-->
<!--    alert("failed to recieve");-->
<!--	}-->
<!--});-->
<!--});-->



$("#editprofileform").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "/editProfile/",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.val == "success")
                {
             	alert("success");
               }
               else{
              alert("failed");
               }
            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });
</script>
</body>
</html>