
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <meta charset="utf-8">
    <title>Followers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="{% static 'css/followinglist.css' %}">
</head>
<body>

<div class="container text-center">
  <h1>Followers</h1><br>

    <div class="well">

             <div class="container">




                     <form id="id_{{forloop.counter}}" method="post">
                         {% csrf_token %}
                     <div class="row">
                         <div class="col-sm-6">
                            <img src="{% static 'images/avatar.jpg' %}" class="img-circle avatar" alt="Cinque Terre" width="50" height="50">

                             <input type="hidden" value="" name="txt_userid">
                         </div>


                         <div class="col-sm-6">
                             <button class=" btn btn-primary" id=""></button>
                        </div>




                     </div>
                     </form>


             </div>
             </div>
        </div>
</div>
<div class="footer">
  <p>Instagram</p>
</div>

<script type="text/javascript">
{% for user in userdeatils %}
$("#{{forloop.counter}}").click(function(e){
e.preventDefault();
$.ajax({
	url:"/following/",
	type:"post",
	datatype:"json",
	data:$("#id_{{forloop.counter}}").serialize(),
	success:function(data)
	{

		if(data.val=="success")
		{
<!--            document.getElementById('{{forloop.counter}}').style.background= 'red';-->
<!--            document.getElementById("{{forloop.counter}}").innerHTML = "Following";-->

            var element = document.getElementById("{{forloop.counter}}");
            element.classList.toggle("unfollow");
            document.getElementById("{{forloop.counter}}").innerHTML = "Following";
		}
		else
		{
		     var element = document.getElementById("{{forloop.counter}}");
            element.classList.toggle("follow");
            document.getElementById("{{forloop.counter}}").innerHTML = "Follow+";

		}


	},
	error:function()
	{
     document.getElementById("alert").innerHTML = "Empty field not allowed!";
	}
	});
});

{% endfor %}
</script>
</body>
</html>
