
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <meta charset="utf-8">
    <title>Following Suggestions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="{% static 'css/followinglist.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}">

</head>
<body>

<div class="header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand " href="{% url 'userProfile' %}"><img src="{% static 'images/insta.png' %}" height="40px" ></a>
    </div>
       <ul class="nav navbar-nav navbar-right">
<!--      <li><a href="/userProfile/"><span class="glyphicon glyphicon-user"></span>{{loginuser}}</a></li>-->
      <li ><a href="/" class="logout"><span class="glyphicon glyphicon-off"></span> </a></li>
    </ul>
  </div>
</div>

<div class="panel">
    <center>
        <a href="/userProfile/"><img src="{{loginuser.image.url}}" alt="Anis M" class="profile-avatar"/></a>

        <div class="headding"><a href="{% url 'userProfile' %}">{{loginuser}}</a></div>
        <div class="email"><a href="{% url 'userProfile' %}">{{loginuser.email}} </a> <a href="/editProfile/">
          <span class="glyphicon glyphicon-pencil"></span>
        </a></div>
        </center>
</div>
<div class="container text-center">
    <div class="well">
            <ul class="list-group">
                <div class="row">
                    <div class="col-sm-4">
                        <li class="text list-group-item"><a href="{% url 'following' %}">Follow suggestions </a></li>
                    </div>
                    <div class="col-sm-4">
                              <li class="text list-group-item"><a href="{% url 'followingpage' %}">Following </a></li>
                    </div>
                    <div class="col-sm-4">
                          <li class="text list-group-item"><a href="/contacts/"> <img src="{%static 'images/msg.png' %}" alt="Anis M" height="40px" /></a></li>
                    </div>
                </div>
            </ul>
       </nav>

             <div class="container">
                 {% for user in userdeatils %}
                     <form id="id_{{forloop.counter}}" method="post">
                         {% csrf_token %}
                         <br>
                     <div class="row">
                         <div class="col-sm-4">
                            <img src="{{user.image.url}}" class="img-circle avatar" alt="Cinque Terre" width="50" height="50">
                            <a href="{% url 'profile' user.pk %}">{{user.username}}</a>
                             <input type="hidden" value="{{user.id}}" name="txt_userid">
                         </div>


                         <div class="col-sm-4">
                             <button class=" btn btn-primary" id="{{forloop.counter}}">  {% if user.username in followinglist %}Unfollow {% else %}Follow{% endif %}</button>
                        </div>




                     </div>
                     </form>
    <br>
                 {% endfor %}
             </div>
             </div>
        </div>
</div>

<div class="footer">
  <p>Instagram</p>
</div>



<script type="text/javascript">
{% for user in userdeatils %}
$("#{{forloop.counter}}").click(function(e){
e.preventDefault();
$.ajax({
	url:"/following/",
	type:"post",
	datatype:"json",
	data:$("#id_{{forloop.counter}}").serialize(),
	success:function(data)
	{

		if(data.val=="success")
		{
<!--            document.getElementById('{{forloop.counter}}').style.background= 'red';-->
<!--            document.getElementById("{{forloop.counter}}").innerHTML = "Following";-->

            var element = document.getElementById("{{forloop.counter}}");
            element.classList.toggle("unfollow");
            document.getElementById("{{forloop.counter}}").innerHTML = "Unfollow";
		}
		else
		{
		     var element = document.getElementById("{{forloop.counter}}");
            element.classList.toggle("follow");
            document.getElementById("{{forloop.counter}}").innerHTML = "Follow";

		}


	},
	error:function()
	{
     document.getElementById("alert").innerHTML = "Empty field not allowed!";
	}
	});
});

{% endfor %}
</script>
</body>
</html>
