{% extends "base.html" %}
{% load static %}
{% block content %}
{% csrf_token %}
{% load static %}
<!-- Basic -->
<!-- Start Side Menu -->


<div class="side">
    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
    <li class="cart-box">
        <ul class="cart-list">
            <li>
                <a href="#" class="photo"><img src="{% static 'images/img-pro-01.jpg' %}" class="cart-thumb"
                                               alt=""/></a>
                <h6><a href="#">Delica omtantur </a></h6>
                <p>1x - <span class="price">$80.00</span></p>
            </li>
            <li>
                <a href="#" class="photo"><img src="{% static 'images/img-pro-02.jpg' %}" class="cart-thumb"
                                               alt=""/></a>
                <h6><a href="#">Omnes ocurreret</a></h6>
                <p>1x - <span class="price">$60.00</span></p>
            </li>
            <li>
                <a href="#" class="photo"><img src="{% static 'images/img-pro-03.jpg' %}" class="cart-thumb"
                                               alt=""/></a>
                <h6><a href="#">Agam facilisis</a></h6>
                <p>1x - <span class="price">$40.00</span></p>
            </li>
            <li class="total">
                <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                <span class="float-right"><strong>Total</strong>: $180.00</span>
            </li>
        </ul>
    </li>
</div>
<!-- End Side Menu -->
</nav>
<!-- End Navigation -->
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="{% static 'images/' %}" alt="">

            <a class="" data-toggle="modal" data-target="#myModal">login</a>/
             <a class="" data-toggle="modal" data-target="#myModal1">Signup</a>

<!--            <button class="btn hvr-hover" id="signup"><a href="signup.html">Signup</a></button>-->
            </p>
        </li>


        <div class="container">
            <!-- Trigger the modal with a button -->
            <!-- Modal -->
            <div class="modal fade" id="myModal1" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header"><h4>Signup</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="formid">
                                <input type="hidden" id="url" value="{% url 'home' %}">
                                {% csrf_token %}
                                {{id.as_p}}
                                <h3 id="alert"></h3>
                                <button type="submit" class="btn btn-success" name="btn_signup" value="Signup"
                                        id="btn_signup"><i class="fa fa-sign-in"></i> Signup
                                </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

  </div>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>


<!--    &lt;!&ndash; Start Instagram Feed  &ndash;&gt;-->
<!--    <div class="instagram-box">-->
<!--        <div class="main-instagram owl-carousel owl-theme">-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="images/instagram-img-01.jpg" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="images/instagram-img-02.jpg" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="images/instagram-img-03.jpg" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="images/instagram-img-04.jpg" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="images/instagram-img-05.jpg" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="images/instagram-img-06.jpg" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="images/instagram-img-07.jpg" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="images/instagram-img-08.jpg" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="images/instagram-img-09.jpg" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="images/instagram-img-05.jpg" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!-- End Instagram Feed  -->


<!-- Start Footer  -->

{% endblock %}